---
import Layout from "../layouts/Layout.astro";
import HeaderHalf from "../components/HeaderHalf.astro";
import { Image } from 'astro:assets';
import iconmaleta from "../images/icons/icon-escudo.svg";
import iconescudo from "../images/icons/icon-maleta.svg";
import iconbanco from "../images/icons/icon-bank.svg";

import ivan from "../images/people/ivan.png"
import juanse from "../images/people/juanse.png"
import "../styles/nosotros.scss";

const title = "Comprometidos con potencializar el recurso humano en las empresas "
const description = "Somos una firma consultora en recursos humanos, con experiencia y enfoque que busca convertirse en el principal aliado de las empresas, en su intención de ser lugares de calidad mientras maximizan su rentabilidad. "
---

<Layout title="Meta Consulting.">
    <HeaderHalf title={title} description={description}></HeaderHalf>
    <main class="uk-container-xlarge uk-margin-auto uk-padding">
        <section>
            <div class="uk-child-width-expand@s" uk-grid>
                <div class="uk-flex uk-flex-middle">
                    <Image  src={iconescudo} alt="escudo"/>
                    <div>
                        <h4 class="subtitle primary">Compromiso y profesionalismo</h4>
                        <p class="paragraph">Hacemos nuestros los objetivos de nuestros clientes, con agilidad y vocación de servicio y promoviendo las soluciones mas adecuadas, bajo los marcos correspondientes. </p>
                    </div>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <Image src={iconmaleta} alt="maleta"/>
                    <div>
                        <h4 class="subtitle primary">Pasión por las personas. </h4>
                        <p class="paragraph">Conectamos de manera autentica con las personas que llegan a nosotros, respectamos la diversidad, escuchamos, avanzamos y generamos valor</p>
                    </div>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <Image src={iconbanco} alt="banco"/>
                    <div>
                        <h4 class="subtitle primary">Confianza en nuestros grupos de interés</h4>
                        <p class="paragraph">Acompañamos con un seguimiento real, y nos adaptamos a las necesidades y expectativas de nuestros clientes en general.</p>
                    </div>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <Image src={iconbanco} alt="banco"/>
                    <div>
                        <h4 class="subtitle primary">Bienestar</h4>
                        <p class="paragraph">Creemos firmemente en organizaciones que faciliar el bienestar profesional y personal de su talento, para mejorar sus resultados a través de la gestión de experiencias en sus procesos de rrhh</p>
                    </div>
                </div>
                
            </div>
        </section>

        <section>
            <div class="uk-position-relative uk-height-1-1 uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio: false">

                <ul class="uk-slideshow-items" uk-height-viewport="offset-top: true; offset-bottom: 10">
                    <li>
                        <div class="uk-padding">
							<h1 class="uk-text-bold subtitle white">META CONSULTORES</h1>
							<p  class="subtitle white">Marcos Ivan Ramos</p>
							<p  class="paragraph white">Empresario y consultor Colombiano de 27 años. Especialista en desarrollo de negocios. Con formación profesional en administración de empresas y consultoría empresarial con experiencia en diferentes giros empresariales.,</p>
                            
						</div>
                        <div class="cover">
                            <Image class="img" src={ivan} alt="" >
                        </div>
                       
                    </li>
                    <li>
                       <div class="uk-padding">
							<h1 class="uk-text-bold subtitle white">META CONSULTORES</h1>
							<p  class="subtitle white">Juan Sebastian Velasquez Diaz</p>
							<p  class="paragraph white">Emprendedor y consultor Colombiano de 27 años. Especialista en desarrollo organizacional, con formación en Administrador de empresas y Maestría en negocios y estudios económicos, con experiencia en diferentes sectores empresariales</p>
                            
						</div>
                        <div class="cover">
                            <Image class="img" src={juanse} alt="" >
                        </div>
                    </li>
                    <!-- <li>
                       <div class="uk-padding">
							<h1 class="uk-text-bold subtitle white">META CONSULTORES</h1>
							<p  class="subtitle white">Expertos en consultoría</p>
							<p  class="paragraph white">Somos un grupo de personas, que se encarga de gestionar la calidad de vida laboral y profesional de otras personas. En Meta Consultores somos consciente de que el talento humano es el principal recurso de las organizaciones, por eso enfocamos nuestros esfuerzos en gestionarlo de manera eficiente</p>
                            
						</div>
                        <div class="cover">
                            <Image class="img" src={persona} alt="" >
                        </div>
                    </li> -->
                </ul>
            
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slideshow-item="next"></a>
            
        </section>
       
    </main>
</Layout>
