---
import Layout from "../layouts/Layout.astro";
import HeaderHalf from "../components/HeaderHalf.astro";
import { Image } from 'astro:assets';

import servicio1 from "../images/servicios/service1.png"
import servicio2 from "../images/servicios/service2.png"
import servicio3 from "../images/servicios/service3.png"

const title = "Comprometidos con la satisfacción total de nuestros clientes"
const description = "Somos una firma de consultoría tributaria con más de 15 años de experiencia que busca resolver problemas e inquietudes en materia fiscal a nuestros clientes."
---

<Layout title="Meta Consulting.">
    <HeaderHalf title={title} description={description}></HeaderHalf>

    <main class="uk-container-large uk-margin-auto">
        <h1 class="title primary uk-text-center uk-padding uk-text-bold">Nuestros Servicios</h1>
        <section>
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class= "uk-cover-container uk-cover-container">
                    <Image src={servicio1} alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Reclutamiento y selección de personal </h3>
                        <p>Conscientes de la necesidad de tener talento humano de calidad en nuestras empresas, nos encargamos de atraer los perfiles profesionales que más se adaptan a las necesidades y expectativas que tienen nuestros clientes, ejecutando un proceso alineado a las exigencias de cada posición. </p>
                    </div>
                </div>
            </div>
            
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <Image src={servicio2} alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Implementación del área de RRHH</h3>
                        <p>Nos encargamos de planear, diseñar y ejecutar todos los procesos del área de recursos humanos, para llevar a cabo una administración eficiente, que les permita a nuestros clientes tomar las mejores decisiones en el desarrollo organizacional de sus empresas. </p>
                    </div>
                </div>
            </div>

            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class= "uk-cover-container uk-cover-container">
                    <Image src={servicio3} alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Servicios complementarios de Desarrollo organizacional y RRHH </h3>
                        <p>La consultoría y el asesoramiento externo nos permite ver desde una visión distinta nuestras áreas de oportunidad. Te apoyamos con servicios complementarios como pruebas psicométricas, estudios socioeconómicos, gestión de actividades de team building.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>